/* 모든 파일에 적용되는 CSS */

* {
  margin: 0;
}

.flex {
  display: flex;
}

.flex_col {
  flex-direction: column;
}

.item_center {
  align-items: center;
}

.justify_center {
  justify-content: center;
}



.hscreen {
  height: 100vh;
}